.modifypassbox form .ipt {
  width: 100%;
  height: 0.8rem;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.modifypassbox form .ipt label {
  width: 19.8%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0.25rem;
  line-height: 0.8rem;
}
.modifypassbox form .ipt input {
  width: 80%;
  height: 0.4rem;
  margin-top: 0.2rem;
  border: 0;
  outline: none;
  vertical-align: top;
  font-size: 0.22rem;
}
.modifypassbox form .text {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.22rem;
  color: #666;
}
.modifypassbox form .ModifyBtn {
  height: 0.8rem;
  line-height: 0.8rem;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  background: #219be4;
}
